<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add question</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <body>
        <h1>Add a question</h1><br>
        <h2>
            <form action="/add_question" method="POST">
                <label>Question:</label><br>
                <input type="text" name="question_name"><br><br>
                <label>Description:</label><br>
                <textarea rows="9" cols="70" name="description"></textarea><br>
                <button type="submit">Submit</button>
            </form>
        </h2>
    </body>
</html>