<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit a question</h1>
    {% for row in questions %}
        {% if row["id"] == question_id  %}
            <form method="post" name="update_question">
                <input type="text" id="title-input" name="title" value={{ row["title"] }}><br>
                <textarea id="message-input" name="message"> {{ row["message"] }}</textarea><br>
                <input type="submit" name="Update">
        {% endif %}
    {% endfor %}
    
            </form>
           
</body>
</html>