<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE 2</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <h1 class="h1">ASK MATE 2</h1>
    <div class="box" name="table">
        <table border="1">
            <thead>
                <tr>
                    {% for header in TABLE_HEADERS %}
                        <th>
                            {{header}}
                        </th>
                    {% endfor %}
                </tr>

            </thead>
            <tbody>
                {% for row in questions %}
                    <tr>
                        {% for header in TABLE_HEADERS %}
                            {% if header=="title" %}
                                <td><a href="question/{{ row["id"] }}"> {{ row[header] }} </a></td>
                            {% elif header == "vote_number" %}
                                <td> 
                                    {{ row[header] }}<br>
                                    <a href="/{{row["id"]}}/vote_up">Vote Up</a><br>
                                    <a href="/{{row["id"]}}/vote_down">Vote Down</a>
                                </td>
                            {% elif header == "image" %}
                                <td><img src={{row["img"]}}></td>
                            {%else%}
                                <td> {{ row[header] }} </td>
                          {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tbody>
                
            </tbody>
        </table>
    </div>
    <a href="/add_question">Add a new question</a>

    
</body>
</html>