<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask mate2 question</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <table border='1'>
            {% for row in questions %}
                <tr><h3>{{ row["title"]}}</h3> </tr>
                <tr> {{ row["message"]}} </tr>
            {% endfor %}
    </table>
    <button type="button"> <a href="comment_to_question">New comment to this question</a></button><br><br>
    <h4>
        Comments:
        {% for comment in comments%}
            {{comment['message']}} <br>
        {% endfor %}
    </h4>
    <h4>Answers:</h4>
    {% for answer in answers %}
    {% for comment in comments_to_answer%}
            <tr>
                {{ answer["message"] }} <br><br>
                Comments: <br>
                {{comment['message']}} <br>
                <button type="button"> <a href="comment_to_question">New comment to this answer</a></button><br><br>
            </tr>
                <td><button type="button"> <a href="answer/{{answer["id"]}}/edit/">Edit answer</a></button></td>
                <td><button type="button"> <a href="delete_answer/{{answer["id"]}}/">Delete answer</a></button></td>
                <td><button type="button"> <a href="vote_up_answer">Vote up</a></button></td>
                <small>votes:{{ answer["vote_number"] }}</small> 
                <td><button type="button"> <a href="vote_down">Vote down</a></button></td>
                <br><br>
            </tr>
    {% endfor %}
    <br><br>
    <button type="button"> <a href="edit/">EDIT</a></button><br><br>
    <button type="button"> <a href="newanswer/">New answer</a></button><br><br>
    <button type="button"> <a href="delete_question/">Delete question</a></button><br>
    
</body>
</html>