<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask mate2 question</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <table border='1'>
            {% for row in questions %}
                <tr>
                    <td>
                        <h3>{{ row["title"]}}</h3>
                    </td>
                <tr> 
                    <td>
                        {{ row["message"]}}
                    </td>
                <tr>
                    <td>{%for tag in tags%}<button type="button"> {{tag.name}}</button> {%endfor%}
                    </td>
                    </tr><br><br>
                <tr> 
                    <a href="{{url_for("delete_question", question_id=row.id)}}">DELETE</a>
                </tr>
            {% endfor %}
    </table>
    <button type="button"> <a href="comment_to_question">New comment to this question</a></button><br><br>
    <button type="button"> <a href="tag">New tag</a></button><br><br>
    <h4>
        Comments:
        {% for comment in comments%}
            {{comment['message']}} <br>
        {% endfor %}
    </h4>
    <h4>Answers:</h4>
    {% for answer in answers %}
            <tr>
                {{ answer["message"] }} <br><br>
                Comments: <br>
                {% for comment in comments%}
                    {%if comment['answer_id'] == answer['id']%}
                    {{comment['message']}} <br>
                    <button type="button"> <a href="comment_to_question">New comment to this answer</a></button><br><br>
                    <button type="button"> <a href="delete_comment/{{comment["id"]}}/">Delete comment</a></button><br><br>
                    {%endif%}   
                {%endfor%}     
            </tr>
            <tr>
                <td><button type="button"> <a href="answer/{{answer["id"]}}/edit/">Edit answer</a></button></td>
                <td><button type="button"> <a href="delete_answer/{{answer["id"]}}/">Delete answer</a></button></td>
                <td><button type="button"> <a href="vote_up_answer">Vote up</a></button></td>
                <small>votes:{{ answer["vote_number"] }}</small> 
                <td><button type="button"> <a href="vote_down">Vote down</a></button></td>
                <br><br>
            </tr>
    {% endfor %}
    <br><br>
    <button type="button"> <a href="edit/">EDIT</a></button><br><br>
    <button type="button"> <a href="newanswer/">New answer</a></button><br><br>
   
</body>
</html>